@tailwind base;
@tailwind components;

body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-image: url('/grain.png'), url('/relationship.svg');
    background-blend-mode: overlay, normal;
    background-repeat: repeat, no-repeat;
    background-position: top left, bottom 5% right 5%;
    background-size: 40%, 50%;
    background-attachment: fixed;
    @apply text-zinc-50 bg-zinc-900
}

.background-animate {
    background-size: 1000%;

    -webkit-animation: LoadingAnimation 3s ease infinite;
    -moz-animation: LoadingAnimation 3s ease infinite;
    animation: LoadingAnimation 3s ease infinite;
}

.typogra {
    font-family: 'Quattrocento', serif;
}

@keyframes LoadingAnimation {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@tailwind utilities;